<% if @bearer_signing_key -%>
bearer.signing.key=<%= @bearer_signing_key %>
<% end -%>
<% if @min_firefox_version -%>
browser.firefox.minimum.supported.version=<%= @min_firefox_version %>
<% end -%>
content.service.url=<%= @content_service_url.chomp("/") %>
webapp.service.url=<%= @webapp_service_url.chomp("/") %>
database.address=<%= @database_hostname %>
database.application.login=<%= @database_username %>
database.application.password=<%= @database_password %>
database.driver=org.postgresql.Driver
database.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
database.name=<%= @database_name %>
database.port=<%= @database_port %>
database.type=POSTGRES
database.url.prefix=jdbc:postgresql://
<% if @jwt_signing_key -%>
jwt.signing.key=<%= @jwt_signing_key %>
<% end -%>
ldap.sync.enabled=true
mail.smtp.auth=<%= @mail_auth %>
<% if @mail_auth -%>
mail.auth.password=<%= @mail_password %>
mail.auth.user=<%= @mail_username %>
<% end -%>
mail.smtp.connectiontimeout=45000
mail.smtp.host=<%= @mail_hostname %>
mail.smtp.port=<%= @mail_port %>
mail.smtp.starttls.enable=<%= @mail_starttls_enabled %>
master.encryption.key=<%= @master_encryption_key %>
<% if @mail_ssl_enabled -%>
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
mail.smtp.socketFactory.port=<%= @mail_port %>
<% end -%>
message.queue.account.name=<%= @rabbitmq_user_name %>
message.queue.account.password=<%= @rabbitmq_password %>
message.queue.server.address=<%= @rabbitmq_host %>
message.queue.server.port=<%= @rabbitmq_port %>
message.queue.connection.ssl=<%= @rabbitmq_use_ssl %>
<% if @rabbitmq_use_ssl -%>
message.queue.keystore.password=<%= @rabbitmq_keystore_password %>
message.queue.keystore.path=<%= @rabbitmq_keystore_path %>
message.queue.truststore.password=<%= @rabbitmq_truststore_password %>
message.queue.truststore.path=<%= @rabbitmq_truststore_path %>
<% end -%>
<% if @rabbitmq_vhost -%>
message.queue.server.virtualhost=<%= @rabbitmq_vhost %>
<% end -%>
notification.email.fromAddress=<%= @mail_from_address %>
<% if @company_name -%>
notification.email.subject.fromCompany=<%= @company_name %>
notifications.templates.default.from=<%= @company_name %>
<% end -%>
oauth2.jwt.rsa.private.key.path=<%= @configuration_folder %>/jwt_rsa_private_key.pem
oauth2.jwt.rsa.public.key.path=<%= @configuration_folder %>/jwt_rsa_public_key.pem
so.server.base.url=<%= @access_service_url.chomp("/") %>
security.hsts.enable=<%= @enable_hsts %>
security.hsts.includeSubdomains=<%= @enable_hsts_subdomains %>
<% @custom_properties.sort.map do |key, value| -%>
<%= key %>=<%= value %>
<% end -%>
