wrapper.app.parameter.1=Application
wrapper.app.parameter.2=prod
wrapper.app.parameter.3=<%= @http_port %>
wrapper.app.parameter.4=/
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.title=Covata Access Service
wrapper.java.additional.1=-Xmx<%= @java_xmx %>
wrapper.java.additional.2=-Djava.awt.headless=true
wrapper.java.additional.3=-Dsecure.objects.config.path=/etc/access-service
wrapper.java.additional.4=-Dsecure.objects.config.overrides=/etc/access-service/config.properties
wrapper.java.additional.5=-Dsecure.objects.home=/usr/share/access-service
wrapper.java.additional.6=-Dakka.mailbox.path=/var/lib/access-service/_akkaMailbox
wrapper.java.classpath.1=/usr/lib64/java-service-wrapper/wrapper.jar
wrapper.java.classpath.2=/usr/share/access-service
wrapper.java.classpath.3=/usr/share/access-service/lib/*.jar
wrapper.java.classpath.4=/usr/share/access-service/classes
wrapper.java.command=java
wrapper.java.library.path.1=/usr/lib64/java-service-wrapper
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp
wrapper.logfile.format=LPTM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxfiles=<%= @log_days_max_history %>
wrapper.logfile.purge.pattern=/var/log/access-service/wrapper.*.log
wrapper.logfile.purge.sort=NAMES_DEC
wrapper.logfile.rollmode=DATE
wrapper.logfile=/var/log/access-service/wrapper.YYYYMMDD.log
wrapper.ntservice.dependency.1=
wrapper.ntservice.description=Covata Access Service
wrapper.ntservice.displayname=Covata Access Service
wrapper.ntservice.interactive=false
wrapper.ntservice.name=access-service
wrapper.ntservice.starttype=AUTO_START
wrapper.syslog.loglevel=NONE
