#encoding=UTF-8
# Configuration files must begin with a line specifying the encoding
#  of the the file.

wrapper.app.parameter.1=Application
wrapper.app.parameter.2=prod
wrapper.app.parameter.3=<%= @http_port %>
wrapper.app.parameter.4=/
wrapper.check.deadlock.action=RESTART
wrapper.check.deadlock.interval=10
wrapper.check.deadlock.output=FULL
wrapper.check.deadlock=TRUE
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.title=Covata Access Service
wrapper.description=Covata Access Service
wrapper.displayname=Covata Access Service
wrapper.event.jvm_restart.email.body=The JVM was restarted.\n\nPlease check on its status.\n
wrapper.filter.action.1000=NONE
wrapper.filter.action.1001=RESTART
wrapper.filter.action.999=NONE
wrapper.filter.allow_wildcards.999=TRUE
wrapper.filter.message.1001=The JVM has run out of memory.
wrapper.filter.trigger.1000=[Loaded java.lang.OutOfMemoryError
wrapper.filter.trigger.1001=java.lang.OutOfMemoryError
wrapper.filter.trigger.999=wrapper.filter.trigger.*java.lang.OutOfMemoryError
wrapper.ignore_sequence_gaps=TRUE
wrapper.java.additional.1=-Xmx<%= @java_xmx %>
wrapper.java.additional.2=-Djava.awt.headless=true
wrapper.java.additional.3=-Dsecure.objects.config.path=/etc/access-service
wrapper.java.additional.4=-Dsecure.objects.config.overrides=/etc/access-service/config.properties
wrapper.java.additional.5=-Dsecure.objects.home=/usr/share/access-service
wrapper.java.additional.6=-Dakka.mailbox.path=/var/lib/access-service/akkaMailbox
wrapper.java.additional.auto_bits=TRUE
wrapper.java.classpath.1=/usr/share/access-service
wrapper.java.classpath.2=/usr/share/java/wrapper.jar
wrapper.java.classpath.3=/usr/share/access-service/lib/*.jar
wrapper.java.classpath.4=/usr/share/access-service/classes
wrapper.java.command=java
wrapper.java.library.path.1=/usr/lib/jni
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp
wrapper.lang.folder=../lang
wrapper.logfile.format=LPTM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxfiles=<%= @log_days_max_history %>
wrapper.logfile.purge.pattern=/var/log/access-service/wrapper.*.log
wrapper.logfile.purge.sort=NAMES_DEC
wrapper.logfile.rollmode=DATE
wrapper.logfile=/var/log/access-service/wrapper.YYYYMMDD.log
wrapper.name=access-service
wrapper.ntservice.dependency.1=
wrapper.ntservice.interactive=false
wrapper.ntservice.starttype=AUTO_START
wrapper.pidfile.strict=TRUE
wrapper.syslog.loglevel=NONE
