csvc.store.type="<%= @storage_type %>"
csvc.accessService="<%= @access_service_url.chomp("/") %>"
csvc.webApp="<%= @webapp_service_url.chomp("/") %>"
csvc.csapi.bearer.signing.key="<%= @bearer_signing_key %>"
csvc.download.enable.multipart=<%= @enable_multipart %>
<% if @download_chunk_size -%>
csvc.download.chunk.size"=<%= @download_chunk_size %>"
<% end -%>
<% if @upload_chunk_size -%>
csvc.upload.chunk.size="<%= @upload_chunk_size %>"
<% end -%>
csvc.message.queue.account.name="<%= @rabbitmq_user_name %>"
csvc.message.queue.account.password="<%= @rabbitmq_password %>"
csvc.message.queue.server.address="<%= @rabbitmq_host %>"
csvc.message.queue.server.port="<%= @rabbitmq_port %>"
csvc.message.queue.connection.ssl=<%= @rabbitmq_use_ssl %>
<% if @rabbitmq_use_ssl -%>
csvc.message.queue.keystore.password=<%= @rabbitmq_keystore_password %>
csvc.message.queue.keystore.path=<%= @rabbitmq_keystore_path %>
csvc.message.queue.truststore.password=<%= @rabbitmq_truststore_password %>
csvc.message.queue.truststore.path=<%= @rabbitmq_truststore_path %>
<% end -%>
<% if @rabbitmq_vhost -%>
csvc.message.queue.server.virtualhost=<%= @rabbitmq_vhost %>
<% end -%>
<% if @local_storage_enabled -%>
csvc.hdfs.local.dir="<%= @local_storage_folder %>"
<% end -%>
<% if @s3_storage_enabled -%>
csvc.s3.host="<%= @s3_hostname %>"
csvc.s3.keyId="<%= @s3_access_key %>"
csvc.s3.secret="<%= @s3_secret_key %>"
<% end -%>
<% if @azure_storage_enabled -%>
csvc.store.azurebs.connectionstring="<%= @azurebs_connectionstring %>"
<% end -%>
csvc.store.idModel.globalBucketPrefix="<%= @data_bucket %>"
csvc.store.idModel.globalReadOnlyBucketPrefix="<%= @readonly_bucket %>"
<% @custom_properties.sort.map do |key, value| -%>
<%= key %>=<%= value %>
<% end -%>