<included>
<% if @log_appenders.map(&:downcase).include?('stdout') -%>
     <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/content-service/content-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/content-service/content-service.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize><%= @log_max_file_size %></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory><%= @log_days_max_history %></maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{sourceThread}] %X{traceId} %X{akkaSource} R:%X{req.requestURI} U:%X{usr} %logger{0} - %msg%n</pattern>            
        </encoder>
    </appender>
<% end -%>

<% if @log_appenders.map(&:downcase).include?('console') -%>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{sourceThread}] %X{traceId} %X{akkaSource} R:%X{req.requestURI} U:%X{usr} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
<% end -%>

<% if @log_appenders.map(&:downcase).include?('logstash') -%>
    <appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/content-service/content-service.json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/content-service/content-service.%d{yyyy-MM-dd}.%i.json.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize><%= @log_max_file_size %></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory><%= @log_days_max_history %></maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>
<% end -%>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>SQL</Marker>
        <OnMatch>ALLOW</OnMatch> <!-- Switch between DENY and ALLOW to see SQL in DEBUG mode -->
    </turboFilter>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>EMAIL</Marker>
        <OnMatch>DENY</OnMatch> <!-- Switch between DENY and ALLOW to see EMAIL in DEBUG mode -->
    </turboFilter>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>TOKEN</Marker>
        <OnMatch>DENY</OnMatch> <!-- Switch between DENY and ALLOW to see TOKEN checks in DEBUG mode -->
    </turboFilter>

    <logger name="ch.qos.logback" level="OFF" />
    <logger name="com.covata" level="INFO"/>
    <logger name="STATS" level="TRACE"/>

    <root level="INFO">
<% if @log_appenders.map(&:downcase).include?('stdout') -%>
        <appender-ref ref="STDOUT"/>
<% end -%>
<% if @log_appenders.map(&:downcase).include?('console') -%>
        <appender-ref ref="CONSOLE"/>
<% end -%>
<% if @log_appenders.map(&:downcase).include?('logstash') -%>
        <appender-ref ref="LOGSTASH"/>
<% end -%>
    </root>
</included>
