wrapper.ntservice.starttype=AUTO_START
wrapper.app.parameter.1=com.covata.contentservice.Application
wrapper.app.parameter.2=prod
wrapper.app.parameter.3=<%= @http_port %>
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.title=Covata Content Service
wrapper.java.additional.1=-Xmx<%= @java_xmx %>
wrapper.java.additional.2=-Djava.awt.headless=true
wrapper.java.additional.3=-Dcsvc.config.path=/etc/content-service
wrapper.java.additional.4=-Dcsvc.home.path=/usr/share/content-service
wrapper.java.additional.5=-Dcsvc.overrides.path=/etc/content-service/config.conf
wrapper.java.classpath.1=/usr/lib64/java-service-wrapper/wrapper.jar
wrapper.java.classpath.2=/usr/share/content-service
wrapper.java.classpath.3=/usr/share/content-service/lib/*.jar
wrapper.java.classpath.4=/usr/share/content-service/classes
wrapper.java.command=java
wrapper.java.library.path.1=/usr/lib64/java-service-wrapper
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp
wrapper.logfile.format=LPTM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxfiles=<%= @log_days_max_history %>
wrapper.logfile.purge.pattern=/var/log/content-service/wrapper.*.log
wrapper.logfile.purge.sort=NAMES_DEC
wrapper.logfile.rollmode=DATE
wrapper.logfile=/var/log/content-service/wrapper.YYYYMMDD.log
wrapper.ntservice.dependency.1=
wrapper.ntservice.description=Covata Content Service
wrapper.ntservice.displayname=Covata Content Service
wrapper.ntservice.interactive=false
wrapper.ntservice.name=content-service
wrapper.syslog.loglevel=NONE


