<included>
  <appender name="MVCWEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/mvc-web/mvc-web.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level: %t] %-40.40logger{39} : %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/mvc-web/mvc-web.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize><%= @log_max_file_size %></maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory><%= @log_days_max_history %></maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level: %t] %-40.40logger{39} : %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="MVCWEB" />
  </root>

  <logger name="org.eclipse.jetty" level="WARN" />
  <logger name="com.covata.MvcApplication" level="DEBUG" >
    <appender-ref ref="CONSOLE" />
  </logger>
  <logger name="com.covata" level="INFO" />
  <logger name="com.covata.mvc.acceptance" level="DEBUG" />
  <logger name="ch.qos.logback" level="OFF" />
  <logger name="org.springframework.web" level="INFO"/>
  <logger name="org.springframework.boot" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
</included>