#encoding=UTF-8
# Configuration files must begin with a line specifying the encoding
#  of the the file.


wrapper.app.parameter.1=/usr/share/mvc-web/mvc-web.jar
wrapper.check.deadlock.action=RESTART
wrapper.check.deadlock.interval=10
wrapper.check.deadlock.output=FULL
wrapper.check.deadlock=TRUE
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.title=Covata MVC Web
wrapper.description=Covata MVC Web
wrapper.displayname=Covata MVC Web
wrapper.event.jvm_restart.email.body=The JVM was restarted.\n\nPlease check on its status.\n
wrapper.filter.action.1000=NONE
wrapper.filter.action.1001=RESTART
wrapper.filter.action.999=NONE
wrapper.filter.allow_wildcards.999=TRUE
wrapper.filter.message.1001=The JVM has run out of memory.
wrapper.filter.trigger.1000=[Loaded java.lang.OutOfMemoryError
wrapper.filter.trigger.1001=java.lang.OutOfMemoryError
wrapper.filter.trigger.999=wrapper.filter.trigger.*java.lang.OutOfMemoryError
wrapper.ignore_sequence_gaps=TRUE
wrapper.java.additional.1=-Xmx<%= @java_xmx %>
wrapper.java.additional.2=-Djava.awt.headless=true
wrapper.java.additional.3=-Daccess-service.url=<%= @access_service_url %>
wrapper.java.additional.4=-Dweb.resources.freemarker.dir=/usr/share/mvc-web/templates
wrapper.java.additional.5=-Dserver.tlsenabled=<%= @tlsenabled %>
wrapper.java.additional.6=-Dserver.port=<%= @http_port %>
<% if @help_url %>wrapper.java.additional.7=-Dlinks.helpLink.url=<%= @help_url %><% end %>
wrapper.java.additional.auto_bits=TRUE
wrapper.java.classpath.1=/usr/share/java/wrapper.jar
wrapper.java.classpath.2=/usr/share/mvc-web/*.jar
wrapper.java.command=java
wrapper.java.library.path.1=/usr/lib/jni
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperJarApp
wrapper.lang.folder=../lang
wrapper.logfile.format=LPTM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxfiles=<%= @log_days_max_history %>
wrapper.logfile.purge.pattern=/var/log/content-service/wrapper.*.log
wrapper.logfile.purge.sort=NAMES_DEC
wrapper.logfile.rollmode=DATE
wrapper.logfile=/var/log/mvc-web/wrapper.YYYYMMDD.log
wrapper.name=mvc-web
wrapper.ntservice.dependency.1=
wrapper.ntservice.interactive=false
wrapper.ntservice.starttype=AUTO_START
wrapper.pidfile.strict=TRUE
wrapper.ping.timeout.action=DEBUG
wrapper.syslog.loglevel=NONE
