database.address: <%= @database_hostname %>
database.application.login: so3app
database.application.loginTwo: access_service_app_blue
database.driver: org.postgresql.Driver
database.migration.login: so3
database.migration.name: postgres
database.migration.password: <%= @database_password %>
database.name: <%= @database_name %>
database.object.login: so3app
database.port: <%= @database_port %>
database.type: POSTGRES
database.url.prefix: jdbc:postgresql://
flyway.outoforder: true
hsql.db.location: 
secureobjects.custom.schema.migrations.file.path: 
secureobjects.custom.schema.migrations.target.version: 
secureobjects.schema.migrations.target.version: 
webapp.oauth.callback.url.base: <%= @webapp_service_url.chomp("/") + "/" %>
windows.oauth.callback.url.base: <%= @access_service_url.chomp("/") + "/" %>
