<configuration scan="true" debug="true">
    <jmxConfigurator/>
<% if @log_appenders.map(&:downcase).include?('stdout') -%>
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/access-service-migration/access-service-migration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/access-service-migration/access-service-migration.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize><%= @log_max_file_size %></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory><%= @log_days_max_history %></maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level R:%X{req.requestURI} U:%X{usr} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
<% end -%>

<% if @log_appenders.map(&:downcase).include?('console') -%>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level R:%X{req.requestURI} U:%X{usr} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
<% end -%>

<% if @log_appenders.map(&:downcase).include?('logstash') -%>
    <appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/access-service-migration/access-service-migration.json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/access-service-migration/access-service-migration.%d{yyyy-MM-dd}.%i.json.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize><%= @log_max_file_size %></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory><%= @log_days_max_history %></maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>
<% end -%>

    <logger name="ch.qos.logback" level="OFF" />
    <logger name="com.covata" level="INFO" />
    <logger name="STATS" level="INFO"/>

    <root level="WARN">
<% if @log_appenders.map(&:downcase).include?('stdout') -%>
        <appender-ref ref="STDOUT"/>
<% end -%>
<% if @log_appenders.map(&:downcase).include?('console') -%>
        <appender-ref ref="CONSOLE"/>
<% end -%>
<% if @log_appenders.map(&:downcase).include?('logstash') -%>
        <appender-ref ref="LOGSTASH"/>
<% end -%>
    </root>

</configuration>
